.faculty-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto 37px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
}



.document_container h1 {
  font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
}

.faculty-container input[type="text"],
input[type="file"] {
  display: block;
  width: calc(100% - 22px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.document_container button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #00afff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 170px;
  justify-self: center;
}

.document_container button:hover {
  background-color: #0056b3;
}

.document_container table{
      width: 100%;
}
.document_table td{
    text-align: center;
}
