.login_header{
  background-color: #00afff;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 12px;
}

.login_modules{
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
}

.pair_module{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 52px;
    gap: 35px;
    align-items: center;
    justify-content: center;
}

.module, .module_admin, .module_student{
      border-radius: 157px;
    width: 204px;
    height: 210px;
    border: solid 2px black;
    text-align: center;
    background-color: white;
  

}

.login{
  background-color: white;
}

.module_admin{
      margin: 42px 286px 0px;
}

.module_student{
      margin: 27px 286px 0px;
}
.login{
  border: solid 2px black;
    width: 107px;
    height: 82px;
        display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    border-radius: 35px;
}

.img{
         width: 104px;
    padding-top: 32px;
}

.module p, .module_admin p, .module_student p{
     font-size: 29px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

.home_logo h2{

      font-size: 43px;
    margin: unset;
    text-align: center;
}

.home_logo p:nth-child(2){
      font-size: 22px;
    margin: unset;
}

.home_logo p:nth-child(3){
      font-size: 18px;
    margin: unset;
}

.home_logo p:nth-child(4){
      font-size: 12px;
    margin: unset;
}

.home_logo :nth-child(5){
  font-size: 13px;
    margin: unset;
}
