.assignment_container{
     display: grid;
}

.assignment_form{
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
      max-width: 518px;
  width: 80%;
  margin: 0 auto;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  margin-bottom: 30px;
}

.assignment_form label{
    display: grid;
    grid-auto-flow: row;
}

.assignment_form input{
    height: 31px;
    border-radius: 8px;
    border: solid 1px #ccc;

}

.assignment_form button{
    border: solid 1px ;
    place-self: center;
    border-radius: 7px;
    padding: 10px 19px;
    background-color: #00afff;
    color: white;
    font-size: 17px;
}

.assignment_form button:hover{
     background-color: #3b7ec5;
}


.assignment_container h1{
   text-align: center;
}