.exam_container{
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto 37px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;

}
.exam_container h1{
    text-align: center;
}
.select{
    display: grid;
    gap: 10px;
}

.select select{
    height: 31px;
    border-radius: 8px;
    border: solid 1px;
    border: solid 1px #ccc;
}

.exam_table input{
    width: 97%;
   
}

#department{
     height: 31px;
    border-radius: 8px;
    border: solid 1px;
     border: solid 1px #ccc;

}

.exam_table{
    width: 100%;
}